{% extends 'dashboard/dashboard.html' %}{% load static %} {% block title %}
<title>Ad-mision| Dashboard - Pagina principal</title>

{% endblock %} {% block descripcion %}
<meta name="description"
    content="Bienvenido a Ad-mision, tu portal personalizado para la preparación universitaria. Descubre tu progreso, estadísticas clave y más en nuestro completo panel de control. ¡Tu camino a la universidad comienza aquí!" />
<meta name="author" content="Ad-mision s Team dev" />
{% endblock %} {% block content %}
<!-- SimpleMDE css -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Quill css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>

<style>
    .pregunta {
        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }

    .latex {
        display: block;
        max-width: 100%;
        overflow-x: auto;
        white-space: pre-wrap;
    }

    @media (max-width: 768px) {
        .pregunta h5 {
            font-size: 15px;
        }

        .pregunta h3,
        .pregunta h4 {
            font-size: 15px;
        }
    }

    .katex-display>.katex {
        white-space: normal
    }

    /* Add space between broken lines: */
    .katex-display>.base {
        margin: 0.25em 0
    }

    /* Compensate by reducing space around display math */
    .katex-display {
        margin: 0.5em 0;
    }

    .katex .mtable .col-align-r>.vlist-t {
        text-align: center !important;
    }
</style>
<input type="hidden" value="{{numpreguntas}}" id="numpreguntas" name="numpreguntas">
<input type="hidden" id="id_examen" value="{{examen.id}}">
<input type="hidden" id="time_examen" value="{{examen.time}}">

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            {% csrf_token %}

            <div class="row mb-3 justify-content-center mt-3">
                <div
                    class="col-12 px-2 d-flex  navbar-custom align-items-center gap-lg-2 gap-1 sticky-top justify-content-between">
                    <div class="d-flex text-white text-center  ">
                        <p id="countdown" class="fs-2 fw-bold">
                            <strong>00:00</strong>
                        </p>
                        <i class="fs-2 mdi mdi-timer-sand-complete"></i>
                    </div>
                    <button type="button" class="btn btn-outline-danger " id="cancelar-examen">Acabar examen</button>

                </div>
                <div class="col-12">

                    {% for pregunta, respuestas in preguntas_con_respuestas.items %}
                    <div class="mt-3 px-lg-2 px-1 card shadow mb-3 pregunta " data-pregunta="pregunta-1">
                        <!--CONTENIDO PREGUNTA IMAGEN-->
                        <h5 class="text-primary text-end  mb-2 mt-2">Pregunta {{ pregunta.num_pregunta }} &nbsp;</h5>
                        <div class="row  " data-pregunta="pregunta-1">
                            {% if pregunta.imgage %}
                            <div class="col-lg-4  text-center">
                                <img src="{{pregunta.imgage.url}}" alt=""
                                    class="img-fluid rounded mx-auto p-2 mt-3 mb-3" />
                            </div>
                            <div class="col-lg-8 ">
                                <div class="w-100  text-center align-self-center " style=" vertical-align:middle;">
                                    <h4 class="mx-auto p-2 mt-3 mb-3">{{ pregunta.text|safe }}</h4>
                                </div>
                            </div>
                            {% else %}
                            {% if pregunta.has_latex %}
                            <div class="col-lg-12 ">
                                <div class="w-100 pregunta text-center align-self-center "
                                    style="vertical-align:middle;">
                                    <h3 class="mx-auto p-2 mt-3 mb-3 latex">{{ pregunta.text|safe }}</h3>
                                </div>

                            </div>
                            {% else %}
                            <div class="col-lg-12 ">
                                <div class="w-100  text-center align-self-center " style="vertical-align:middle;">
                                    <h3 class="mx-auto p-2 mt-3 mb-3">{{ pregunta.text|linebreaksbr  }}</h3>
                                </div>

                            </div>
                            {% endif %}
                            {% endif %}

                        </div>
                        <!--CONTENIDO RESPUESTAS-->
                        <div class="row card-body mt-3">
                            <div class="col-12">
                                {% for respuesta in respuestas %}
                                    <div class="d-grid gap-2 mb-2">
                                        <button class="btn btn-light" data-id="{{pregunta.id}}" id="{{ respuesta.id}}" onclick="seleccionarRespuesta(this, '{{ pregunta.id }}')" type="button">{{ respuesta.text|safe  }}</button>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <!--CONTENIDO PARA CEL IMAGEN-->
                        {% if pregunta.imgage %}
                        <div class="row d-lg-none d-md-none text-center d-flex">
                            <div class="col-lg-4">
                                <img src="{{pregunta.imgage.url}}" alt="" class="rounded" />
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button id="terminar_examen" title="Terminar el examen" class="fs-3 btn btn-primary">
                            Terminar
                            <i class="mdi mdi-check"></i>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    © Ad-mision - Team´s Dev
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- Modal -->
<div class="modal fade" id="imgmodal" tabindex="-1" aria-labelledby="imgmodal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imgmodal">Imagen de referencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <img class="img-fluid" src="" alt="First slide" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--FUNCIONES DEL EXAMEN-->
<script src="{% static 'examenes/js/funcionexamen.js' %}"></script>
<!-- Vendor js -->
<script src="{% static 'login/assets/js/vendor.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'login/assets/js/app.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            delimiters: [
                { left: "\\begin{align}", right: "\\end{align}", display: true }
            ],
            fleqn: false,  // Opcional: para alinear las ecuaciones a la izquierda
            leqno: false,   // Opcional: para poner los números de las ecuaciones a la izquierda
            displayMode: true
        });
        // Eliminar los números de las ecuaciones
        document.querySelectorAll('.eqn-num').forEach(function (eqnNum) {
            eqnNum.remove();
        });
    });


</script>
<script>



</script>
{% endblock %}