{% extends 'dashboard/admin/dash_admin_base.html' %}{% load static %}


{% block title %}
<title>Ad-mision| Dashboard - Usuarios</title>

{% endblock %}
{% block descripcion %}
    <meta name="description" content="Aquí podras ver los usuarios activos">
    <meta name="author" content="Ad-mision s Team dev">
{% endblock %}

{% block content %}
    <link href="{% static 'login/assets/css/app-modern.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- Datatables css -->
    <link href="{% static 'login/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'login/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static 'login/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'login/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
  <style>
          .cursor-pointer {
            cursor: pointer;
        }
        th{
            color: white !important;
        }
  </style>
         <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ad-min</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Usuarios</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Usuarios activos</h4>
                                </div>
                            </div>
                        </div>


                                                
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="alternative-page-datatable" class="table table-striped dt-responsive nowrap w-100">
                                            <thead class="bg-primary" >
                                                <tr >
                                                    <th>Usuario</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Correo</th>
                                                    <th>Rol</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody>
                                                {% for user in users %}
                                                <tr  id="userrow_{{ user.id }}">
                                                    <td>{{ user.username }}</td>
                                                    <td >{{ user.first_name }}</td>

                                                    <td>{{ user.last_name}}</td>
                                                    <td>{{ user.email }}</td>

                                                    {% if user.is_staff %}

                                                        <td>Administrador</td>
                                                    {% else %}
                                                        <td>Subscriptor</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>                                           
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div> <!-- end row-->
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        <!-- Vendor js -->
        <script src="{% static 'login/assets/js/vendor.min.js' %}"></script>

        <!-- Datatables js -->
        <script src="{% static 'login/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
   
        <script src="{% static 'login/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>

        <script src="{% static 'login/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

        <!-- Datatable Demo Aapp js -->
        <script src="{% static 'login/assets/js/pages/demo.datatable-init.js' %}"></script>



        <!-- Apex Chart js -->
        <script src="{% static 'login/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
        <!-- Apex Chart RadialBar Demo js -->
        <script src="{% static 'login/assets/js/pages/demo.apex-radialbar.js' %}"></script>    
        <!-- App js -->
        <script src="{% static 'login/assets/js/app.min.js' %}"></script>
{% endblock %}